body {
  background-color: #f5f5f5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

h1 {
  font-size: 24px;
  color: #007bff;
  text-align: center;
}

p {
  margin: 10px 0;
  line-height: 1.5;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#dynamic-link {
  font-weight: bold;
  color: #333333;
}
